<div class="_1e0c1bgi _iu1g1fl4 _2d3f16n6">
  <style>
    [data-ds--page-layout--slot="main"] {
      height: calc(
        100vh - (var(--topNavigationHeight, 0px) + var(--bannerHeight, 0px))
      );
    }
  </style>
  <main
    class="css-1v6hule"
    id="ak-main-content"
    data-ds--page-layout--slot="main"
  >
    <span data-ep-placeholder-id="route_entry_point"
      ><div
        class="css-uveded"
        data-testid="spa-apps-page-layout.page.scrollable-page"
      >
        <div class="_18s81d9c">
          <div class="_1e0c1txw _4cvr1y6m _1n261g80">
            <div
              class="_16jlkb7n _1o9zidpf _i0dl1wug _1ul9idpf _p12f1osq _6rthu2gc"
            >
              <h1
                tabindex="-1"
                class="_11c81p5s _12ji1r31 _1qu2glyw _12y31o36 _syaz1fxt _1dyz4jg8 _1pfhidpf"
              >
                Projects
              </h1>
            </div>
            <div
              class="_16jlidpf _1o9zidpf _i0dl1wug _p12f1osq _6rthu2gc _ahbq1wug _bozgxy5q _o5721q9c"
            >
              <div role="group" class="css-1oy5iav">
                <button
                  data-testid="global-pages.directories.projects-directory-v3.create-projects-button"
                  class="css-1dw4iom"
                  tabindex="0"
                  type="button"
                >
                  <span class="css-178ag6o">Create project</span></button
                ><button class="css-1979g2e" tabindex="0" type="button">
                  <span class="css-178ag6o">Templates</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="_zulppxbi _16jlkb7n _1o9zkb7n _i0dlf1ug _1e0c1txw _otyrpxbi"
        >
          <div class="_1e0c1txw _1ul9194s _p12f194s">
            <div class="_1e0c1txw _1bsb1osq">
              <div
                class="_v564zpk5 _1e0c1txw _166qglyw _101ad2bq _i2ybkb7n _lav0kb7n _1bsb1di6"
                style="
                  --_1et2rhb: 184px;
                  --_47juog: 30px;
                  --_5cv8rq: 32px;
                  --_jy5l88: var(--ds-space-0, 0px);
                  --_1skyi4s: 0;
                  --_1qenfck: 0;
                  --_1b7586u: 120px;
                  --_1b72lxu: 100%;
                "
              >
                <div
                  role="presentation"
                  data-ds--text-field--container="true"
                  data-testid="searchfield-container"
                  class="ajs-dirty-warning-exempt css-dsaytk"
                >
                  <input
                    aria-label="Search Projects"
                    aria-describedby=""
                    type="text"
                    data-test-id="searchfield"
                    autocomplete="off"
                    id="keyword"
                    data-compact="true"
                    data-ds--text-field--input="true"
                    data-testid="searchfield"
                    name="search"
                    placeholder="Search Projects"
                    class="css-s6tjpp"
                    value=""
                  />
                  <div class="css-rtz2j9">
                    <span
                      data-vc="icon-undefined"
                      aria-hidden="true"
                      class="css-1wits42"
                      style="
                        --icon-primary-color: currentColor;
                        --icon-secondary-color: var(--ds-surface, #ffffff);
                      "
                      ><svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        role="presentation"
                      >
                        <path
                          fill="currentcolor"
                          fill-rule="evenodd"
                          d="m16.436 15.085 3.94 4.01a1 1 0 0 1-1.425 1.402l-3.938-4.006a7.5 7.5 0 1 1 1.423-1.406M10.5 16a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11"
                        ></path></svg
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_1ul9uuw1">
            <div class="css-at4k0-container">
              <span
                id="react-select-2-live-region"
                class="css-jvmzbk-a11yText"
              ></span
              ><span role="status" class="css-jvmzbk-a11yText"></span>
              <div class="css-1vrwmt7-control">
                <div class="value-container css-xo17ij">
                  <div
                    class="css-1up7oxb-placeholder"
                    id="react-select-2-placeholder"
                  >
                    Filter by product
                  </div>
                  <div class="css-bxfvr9" data-value="">
                    <input
                      class=""
                      autocapitalize="none"
                      autocomplete="off"
                      autocorrect="off"
                      id="react-select-2-input"
                      spellcheck="false"
                      tabindex="0"
                      type="text"
                      aria-autocomplete="both"
                      aria-expanded="false"
                      aria-haspopup="listbox"
                      aria-invalid="false"
                      aria-label="Filter by product"
                      role="combobox"
                      value=""
                      style="
                        color: inherit;
                        background: 0px center;
                        opacity: 1;
                        width: 100%;
                        grid-area: 1 / 2;
                        font: inherit;
                        min-width: 2px;
                        border: 0px;
                        margin: 0px;
                        outline: 0px;
                        padding: 0px;
                      "
                    />
                  </div>
                </div>
                <div class="css-6jtart">
                  <div
                    class="css-1cdp2iz-indicatorContainer"
                    aria-hidden="true"
                  >
                    <span class="css-1aq5lmf"
                      ><span
                        data-vc="icon-undefined"
                        role="img"
                        aria-label="open"
                        class="css-snhnyn"
                        style="
                          --icon-primary-color: currentColor;
                          --icon-secondary-color: var(--ds-surface, #ffffff);
                          margin: var(--ds-space-negative-075, -0.375rem);
                        "
                        ><svg
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          role="presentation"
                        >
                          <path
                            fill="currentcolor"
                            fill-rule="evenodd"
                            d="M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0"
                          ></path></svg></span
                    ></span>
                  </div>
                </div>
              </div>
              <div><input name="types" type="hidden" value="" /></div>
            </div>
          </div>
        </div>
        <div class="_kqswh2mm">
          <div
            role="status"
            aria-live="polite"
            aria-relevant="additions text"
            aria-atomic="true"
            class="_19pk1n1a _2hwx1n1a _otyr1n1a _18u01n1a _1reo15vq _18m915vq _ca0qidpf _u5f3idpf _n3tdidpf _19bvidpf _ogto7mnp _mkrz1wmp _4t3it94y _1bsbt94y _kqswstnw"
          ></div>
          <div
            role="status"
            aria-live="polite"
            aria-relevant="additions text"
            aria-atomic="true"
            class="_19pk1n1a _2hwx1n1a _otyr1n1a _18u01n1a _1reo15vq _18m915vq _ca0qidpf _u5f3idpf _n3tdidpf _19bvidpf _ogto7mnp _mkrz1wmp _4t3it94y _1bsbt94y _kqswstnw"
          >
            5 projects found&nbsp;
          </div>
        </div>
        <div
          data-testid="global-pages.directories.projects-directory-v3.ui.page-layout.projects-list.container"
          class="_kqswh2mm _n3tdpxbi _aetrb3bt _18postnw _z0ai1osq _1qdg1osq _1hfk37p7 _15l2idpf _19doidpf _1ywuglyw"
        >
          <table class="_18s81km1 _yq5hcfaq _1bsb1osq _1kqm1n9t">
            <caption
              class="_1reo15vq _18m915vq _kqswstnw _154i1wug _ogto7mnp _1bsbt94y _4t3it94y _o5721q9c"
            >
              Table showing all projects
            </caption>
            <thead class="_19itglyw _1r04idpf _s7n4nkob _kqswh2mm">
              <tr
                class="_189e18uv _1dqoglyw _1h6d18uv _4t3i14no _10dk105o _bd0s105o _aswu1b66 _d1ad1b66 _174iidpf _1thxidpf"
              >
                <th
                  width="2.85"
                  aria-sort="none"
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _1e0cdav6 _kqswh2mm _r06hglyw _s7n4nkob _vchhusvi _k48p1wq8 _1wybdlk8 _syaz10s3 _1tesidpf _1cs8stnw _txdo8fd9 _1kt9b3bt _dsq4glyw _19woidpf _1aukidpf _19bvidpf _u5f3idpf _1bsb1efm _y3gnp1rm _1lhcidpf _1o59idpf"
                  style="--_1vcp0mh: 2.85%; --_1tpx2gk: center"
                >
                  <div role="presentation">
                    <button
                      width="2.85"
                      aria-roledescription="column sort button"
                      class="_19itidpf _11q7glyw _1yt46tij _2rko1l7b _k48p1wq8 _1wybdlk8 _syaz10s3 _16qsidpf _1e0c116y _80omtlke _1di6hri9 _irr3hri9 _kqswh2mm"
                      style="
                        --_tsntec: var(--ds-space-050, 4px)
                          var(--ds-space-100, 8px);
                      "
                    >
                      <div
                        data-component-selector="simple-table-sortable-icon-cell-content-wrapper"
                        class="_v564wz4i _154i1ssb _1ltv1ssb _kqswstnw _tzy4kb7n _t9ec1ooe"
                      >
                        <div class="_1e0c1txw _1bah1h6o">
                          <span
                            data-vc="icon-undefined"
                            role="img"
                            aria-label="Starred"
                            class="css-1wits42"
                            style="
                              --icon-primary-color: currentColor;
                              --icon-secondary-color: var(
                                --ds-surface,
                                #ffffff
                              );
                            "
                            ><svg
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              role="presentation"
                            >
                              <path
                                fill="currentcolor"
                                fill-rule="evenodd"
                                d="m12.072 17.284-3.905 2.053a1 1 0 0 1-1.451-1.054l.745-4.349-3.159-3.08a1 1 0 0 1 .554-1.705l4.366-.635 1.953-3.956a1 1 0 0 1 1.794 0l1.952 3.956 4.366.635a1 1 0 0 1 .555 1.705l-3.16 3.08.746 4.349a1 1 0 0 1-1.45 1.054z"
                              ></path></svg
                          ></span>
                        </div>
                      </div>
                      <div
                        data-component-selector="simple-table-sort-icon-container"
                        class="_v5641b4w _tzy4idpf _18u01b66 _2hwx1b66 _t9ecglyw"
                      >
                        <span
                          data-vc="icon-undefined"
                          aria-hidden="true"
                          class="css-1wits42"
                          style="
                            --icon-primary-color: var(--ds-icon, #44546f);
                            --icon-secondary-color: var(--ds-surface, #ffffff);
                          "
                          ><svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            role="presentation"
                          >
                            <path
                              fill="currentcolor"
                              fill-rule="evenodd"
                              d="M11 6v9.586l-3.793-3.793a1 1 0 0 0-1.414 0c-.39.39-.39 1.024 0 1.415l5.5 5.499A1 1 0 0 0 12 19a1 1 0 0 0 .707-.293l5.5-5.499a1 1 0 1 0-1.414-1.415L13 15.586V6a1 1 0 0 0-2 0"
                            ></path></svg
                        ></span>
                      </div>
                    </button>
                  </div>
                </th>
                <th
                  width="22"
                  aria-sort="ascending"
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _1e0cdav6 _kqswh2mm _r06hglyw _s7n4nkob _vchhusvi _k48p1wq8 _1wybdlk8 _syaz10s3 _1tesidpf _1cs8stnw _txdo8fd9 _1kt9b3bt _dsq4glyw _19woidpf _1aukidpf _19bvidpf _u5f3u2gc _1bsb1efm _1lhcidpf _1o59u2gc"
                  style="--_1vcp0mh: 22%; --_1tpx2gk: var(--c-)"
                >
                  <div role="presentation">
                    <button
                      width="22"
                      aria-roledescription="column sort button"
                      class="_19itidpf _11q7glyw _1yt46tij _2rko1l7b _k48p1wq8 _1wybdlk8 _syaz10s3 _16qsidpf _1e0c116y _80omtlke _1di6hri9 _irr3hri9 _kqswn7od"
                      style="
                        --_tsntec: var(--ds-space-050, 4px)
                          var(--ds-space-100, 8px);
                      "
                    >
                      Name
                      <div
                        data-component-selector="simple-table-sort-icon-container"
                        class="_v5641b4w _tzy4zg3v _18u01b66 _2hwxidpf _t9ecglyw"
                      >
                        <span
                          data-vc="icon-undefined"
                          aria-hidden="true"
                          class="css-1wits42"
                          style="
                            --icon-primary-color: var(--ds-icon, #44546f);
                            --icon-secondary-color: var(--ds-surface, #ffffff);
                          "
                          ><svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            role="presentation"
                          >
                            <path
                              fill="currentcolor"
                              fill-rule="evenodd"
                              d="M11 6v9.586l-3.793-3.793a1 1 0 0 0-1.414 0c-.39.39-.39 1.024 0 1.415l5.5 5.499A1 1 0 0 0 12 19a1 1 0 0 0 .707-.293l5.5-5.499a1 1 0 1 0-1.414-1.415L13 15.586V6a1 1 0 0 0-2 0"
                            ></path></svg
                        ></span>
                      </div>
                    </button>
                  </div>
                </th>
                <th
                  width="12"
                  aria-sort="none"
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _1e0cdav6 _kqswh2mm _r06hglyw _s7n4nkob _vchhusvi _k48p1wq8 _1wybdlk8 _syaz10s3 _1tesidpf _1cs8stnw _txdo8fd9 _1kt9b3bt _dsq4glyw _19woidpf _1aukidpf _19bvidpf _u5f3u2gc _1bsb1efm _1lhcidpf _1o59u2gc"
                  style="--_1vcp0mh: 12%; --_1tpx2gk: var(--c-)"
                >
                  <div role="presentation">
                    <button
                      width="12"
                      aria-roledescription="column sort button"
                      class="_19itidpf _11q7glyw _1yt46tij _2rko1l7b _k48p1wq8 _1wybdlk8 _syaz10s3 _16qsidpf _1e0c116y _80omtlke _1di6hri9 _irr3hri9 _kqswn7od"
                      style="
                        --_tsntec: var(--ds-space-050, 4px)
                          var(--ds-space-100, 8px);
                      "
                    >
                      Key
                      <div
                        data-component-selector="simple-table-sort-icon-container"
                        class="_v5641b4w _tzy4idpf _18u0idpf _2hwxidpf _t9ecglyw"
                      >
                        <span
                          data-vc="icon-undefined"
                          aria-hidden="true"
                          class="css-1wits42"
                          style="
                            --icon-primary-color: var(--ds-icon, #44546f);
                            --icon-secondary-color: var(--ds-surface, #ffffff);
                          "
                          ><svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            role="presentation"
                          >
                            <path
                              fill="currentcolor"
                              fill-rule="evenodd"
                              d="M11 6v9.586l-3.793-3.793a1 1 0 0 0-1.414 0c-.39.39-.39 1.024 0 1.415l5.5 5.499A1 1 0 0 0 12 19a1 1 0 0 0 .707-.293l5.5-5.499a1 1 0 1 0-1.414-1.415L13 15.586V6a1 1 0 0 0-2 0"
                            ></path></svg
                        ></span>
                      </div>
                    </button>
                  </div>
                </th>
                <th
                  width="20"
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _1e0cdav6 _kqswh2mm _r06hglyw _s7n4nkob _vchhusvi _k48p1wq8 _1wybdlk8 _syaz10s3 _1tesidpf _1cs8stnw _txdo8fd9 _1kt9b3bt _dsq4glyw _19woidpf _1aukidpf _19bvu2gc _u5f3u2gc _1bsb1efm _1lhcu2gc _1o59u2gc"
                  style="--_1vcp0mh: 20%; --_1tpx2gk: var(--c-)"
                >
                  Type
                </th>
                <th
                  width="36"
                  aria-sort="none"
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _1e0cdav6 _kqswh2mm _r06hglyw _s7n4nkob _vchhusvi _k48p1wq8 _1wybdlk8 _syaz10s3 _1tesidpf _1cs8stnw _txdo8fd9 _1kt9b3bt _dsq4glyw _19woidpf _1aukidpf _19bvidpf _u5f3u2gc _1bsb1efm _1lhcidpf _1o59u2gc"
                  style="--_1vcp0mh: 36%; --_1tpx2gk: var(--c-)"
                >
                  <div role="presentation">
                    <button
                      width="36"
                      aria-roledescription="column sort button"
                      class="_19itidpf _11q7glyw _1yt46tij _2rko1l7b _k48p1wq8 _1wybdlk8 _syaz10s3 _16qsidpf _1e0c116y _80omtlke _1di6hri9 _irr3hri9 _kqswn7od"
                      style="
                        --_tsntec: var(--ds-space-050, 4px)
                          var(--ds-space-100, 8px);
                      "
                    >
                      Lead
                      <div
                        data-component-selector="simple-table-sort-icon-container"
                        class="_v5641b4w _tzy4idpf _18u0idpf _2hwxidpf _t9ecglyw"
                      >
                        <span
                          data-vc="icon-undefined"
                          aria-hidden="true"
                          class="css-1wits42"
                          style="
                            --icon-primary-color: var(--ds-icon, #44546f);
                            --icon-secondary-color: var(--ds-surface, #ffffff);
                          "
                          ><svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            role="presentation"
                          >
                            <path
                              fill="currentcolor"
                              fill-rule="evenodd"
                              d="M11 6v9.586l-3.793-3.793a1 1 0 0 0-1.414 0c-.39.39-.39 1.024 0 1.415l5.5 5.499A1 1 0 0 0 12 19a1 1 0 0 0 .707-.293l5.5-5.499a1 1 0 1 0-1.414-1.415L13 15.586V6a1 1 0 0 0-2 0"
                            ></path></svg
                        ></span>
                      </div>
                    </button>
                  </div>
                </th>
                <th
                  width="7"
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _1e0cdav6 _kqswh2mm _r06hglyw _s7n4nkob _vchhusvi _k48p1wq8 _1wybdlk8 _syaz10s3 _1tesidpf _1cs8stnw _txdo8fd9 _1kt9b3bt _dsq4glyw _19woidpf _1aukidpf _19bvu2gc _u5f3u2gc _1bsb1efm _1lhcu2gc _1o59u2gc"
                  style="--_1vcp0mh: 7%; --_1tpx2gk: var(--c-)"
                >
                  Project URL
                </th>
                <th
                  width="8"
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _1e0cdav6 _kqswh2mm _r06hglyw _s7n4nkob _vchhusvi _k48p1wq8 _1wybdlk8 _syaz10s3 _1tesidpf _1cs8stnw _txdo8fd9 _1kt9b3bt _dsq4glyw _19woidpf _1aukidpf _19bvu2gc _u5f3u2gc _1bsb1efm _y3gnp1rm _1lhcu2gc _1o59u2gc"
                  style="--_1vcp0mh: 8%; --_1tpx2gk: right"
                >
                  More actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="_189e18uv _1dqoglyw _1h6d18uv _4t3ickbl _kqswh2mm _1bsb1osq _irr3k6hx"
                *ngFor="let project of projects"
              >
                <td
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _r06hglyw _vchhusvi _1e0cdav6 _19bvu2gc _u5f3u2gc _kqswh2mm _s7n4nkob _1bsbzwfg _1lhcu2gc _1o59u2gc"
                >
                  <div class="_1e0c1txw _1bah1h6o">
                    <div
                      role="presentation"
                      data-is-favorite="false"
                      class="_1e0c1o8l"
                    >
                      <div role="presentation">
                        <button
                          aria-label="Star jira"
                          aria-pressed="false"
                          class="css-exvukg"
                          tabindex="0"
                          type="button"
                        >
                          <span class="css-1gd7hga"
                            ><span
                              data-testid="favouriting.favorite-button-stateless.icon-wrapper-list"
                              class="_1e0c1txw _4cvr1h6o _1bah1h6o _1bsbzwfg _4t3izwfg _syaz2u25 _30l3w9a8"
                              ><span
                                data-vc="icon-undefined"
                                role="img"
                                aria-label="Add to Starred"
                                class="css-snhnyn"
                                style="
                                  --icon-primary-color: currentColor;
                                  --icon-secondary-color: var(
                                    --ds-surface,
                                    #ffffff
                                  );
                                "
                                ><svg
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  role="presentation"
                                >
                                  <path
                                    fill="currentcolor"
                                    d="m12 16.373 3.98 2.193-.76-4.655 3.276-3.347-4.524-.69L12 5.687l-1.972 4.189-4.524.689L8.78 13.91l-.762 4.655zm0 2.283-3.016 1.662a2 2 0 0 1-2.939-2.075l.599-3.656-2.57-2.624a2 2 0 0 1 1.129-3.377l3.47-.528 1.518-3.224a2 2 0 0 1 3.618 0l1.519 3.224 3.47.528a2 2 0 0 1 1.127 3.377l-2.569 2.624.599 3.656a2 2 0 0 1-2.94 2.075z"
                                  ></path></svg></span></span
                          ></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
                <td
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _r06hglyw _vchhusvi _1e0cdav6 _19bvu2gc _u5f3u2gc _kqswh2mm _s7n4nkob _1bsbzwfg _1lhcu2gc _1o59u2gc"
                >
                  <div
                    class="_1reon7od _18m9n7od _o5721q9c _1bto1l2s _4cvr1h6o"
                  >
                    <a
                      class="_1e0c1ule _1reo15vq"
                      [routerLink]="
                        '/jira/software/projects/' + project.id + '/boards'
                      "
                      target="_self"
                      ><img
                        class="css-1vqlrw"
                        src="https://hadinhhoang031104-1732522766373.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10404?size=medium"
                        alt=""
                      /><span class="_1reo15vq _18m915vq _18u0u2gc _1bto1l2s">{{
                        project.pname
                      }}</span></a
                    >
                  </div>
                </td>
                <td
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _r06hglyw _vchhusvi _1e0cdav6 _19bvu2gc _u5f3u2gc _kqswh2mm _s7n4nkob _1bsbzwfg _1lhcu2gc _1o59u2gc"
                >
                  JIRA
                </td>
                <td
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _r06hglyw _vchhusvi _1e0cdav6 _19bvu2gc _u5f3u2gc _kqswh2mm _s7n4nkob _1bsbzwfg _1lhcu2gc _1o59u2gc"
                >
                  <div class="_1reo15vq _18m915vq _o5721q9c _1bto1l2s">
                    Team-managed software
                  </div>
                </td>
                <td
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _r06hglyw _vchhusvi _1e0cdav6 _19bvu2gc _u5f3u2gc _kqswh2mm _s7n4nkob _1bsbzwfg _1lhcu2gc _1o59u2gc"
                >
                  <div data-vc="profilecard-wrapper" class="_p12f1osq">
                    <span
                      aria-expanded="false"
                      aria-haspopup="true"
                      role="button"
                      tabindex="0"
                      aria-label="More information about this user"
                      ><div
                        data-testid="profilecard-next.ui.profilecard.profilecard-trigger"
                      >
                        <div
                          data-testid="directory-user-profile-712020:05dc3091-ba2a-402a-ad36-dc25e57003d4"
                          class="_16jlkb7n _1o9zkb7n _i0dl1wug _1e0c1txw _4cvr1h6o _1bsb1osq"
                        >
                          <div
                            class="_16jlidpf _1o9zidpf _i0dl1wug _u5f3u2gc _vwz4idpf"
                          >
                            <div
                              style="
                                display: inline-block;
                                position: relative;
                                outline: 0px;
                              "
                            >
                              <span class="css-1fpnclv"
                                ><img
                                  src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/712020:05dc3091-ba2a-402a-ad36-dc25e57003d4/87fcc2ea-fac9-464e-b19d-459b1532cbaa/128"
                                  alt=""
                                  aria-hidden="true"
                                  data-vc="avatar-image"
                                  data-ssr-placeholder-ignored="true"
                                  class="css-1gr7gcv"
                                  style="border-radius: 50%"
                              /></span>
                            </div>
                          </div>
                          <div
                            class="_1reo15vq _18m915vq _slp31hna _o5721q9c _1bto1l2s"
                          >
                            {{ project.lead }}
                          </div>
                        </div>
                      </div></span
                    >
                  </div>
                </td>
                <td
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _r06hglyw _vchhusvi _1e0cdav6 _19bvu2gc _u5f3u2gc _kqswh2mm _s7n4nkob _1bsbzwfg _1lhcu2gc _1o59u2gc"
                ></td>
                <td
                  class="_5pio18uv _1h6d18uv _1dqoglyw _189e18uv _r06hglyw _vchhusvi _1e0cdav6 _19bvu2gc _u5f3u2gc _kqswh2mm _s7n4nkob _1bsbzwfg _1lhcu2gc _1o59u2gc"
                >
                  <div class="_1e0c1txw _1bahesu3">
                    <button
                      aria-expanded="false"
                      aria-haspopup="true"
                      aria-label="More actions for jira"
                      class="css-ypfr33"
                      tabindex="0"
                      type="button"
                    >
                      <span class="css-bwxjrz"
                        ><span
                          data-vc="icon-undefined"
                          aria-hidden="true"
                          class="css-snhnyn"
                          style="
                            --icon-primary-color: currentColor;
                            --icon-secondary-color: var(--ds-surface, #ffffff);
                          "
                          ><svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            role="presentation"
                          >
                            <g fill="currentcolor" fill-rule="evenodd">
                              <circle cx="5" cy="12" r="2"></circle>
                              <circle cx="12" cy="12" r="2"></circle>
                              <circle cx="19" cy="12" r="2"></circle>
                            </g></svg></span
                      ></span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav class="_19itglyw _vchhusvi _r06hglyw" aria-label="pagination">
            <div
              class="_1e0c1txw _vchhusvi _gy1pze3t _1p57ze3t _4cvr1h6o _2lx2vrvc"
            >
              <button
                aria-label="Previous page"
                class="css-rxsaz5"
                disabled=""
                tabindex="-1"
                type="button"
              >
                <span class="css-bwxjrz"
                  ><span class="_19itglyw _vchhusvi _r06hglyw _18zr12x7"
                    ><span
                      data-vc="icon-undefined"
                      aria-hidden="true"
                      class="css-snhnyn"
                      style="
                        --icon-primary-color: currentColor;
                        --icon-secondary-color: var(--ds-surface, #ffffff);
                        margin: 0 var(--ds-space-negative-075, -6px);
                      "
                      ><svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        role="presentation"
                      >
                        <path
                          fill="currentcolor"
                          fill-rule="evenodd"
                          d="m9.005 10.995 4.593-4.593a.99.99 0 1 1 1.4 1.4l-3.9 3.9 3.9 3.9a.99.99 0 0 1-1.4 1.4L9.005 12.41a1 1 0 0 1 0-1.414"
                        ></path></svg></span></span
                ></span>
              </button>
              <ul
                class="_1e0c1txw _vchhusvi _gy1pze3t _1p57ze3t _4cvr1q9y _2lx2vrvc _1yt4ze3t _18s8ze3t"
              >
                <li class="_1e0c1txw _vchhusvi _4cvrv2br _2lx2vrvc _1pfhze3t">
                  <button
                    aria-current="page"
                    aria-label="page 1"
                    page="1"
                    class="css-lq8zrw"
                    tabindex="0"
                    type="button"
                  >
                    <span class="css-178ag6o">1</span>
                  </button>
                </li>
              </ul>
              <button
                aria-label="Next page"
                class="css-rxsaz5"
                disabled=""
                tabindex="-1"
                type="button"
              >
                <span class="css-bwxjrz"
                  ><span class="_19itglyw _vchhusvi _r06hglyw _18zr12x7"
                    ><span
                      data-vc="icon-undefined"
                      aria-hidden="true"
                      class="css-snhnyn"
                      style="
                        --icon-primary-color: currentColor;
                        --icon-secondary-color: var(--ds-surface, #ffffff);
                        margin: 0 var(--ds-space-negative-075, -6px);
                      "
                      ><svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        role="presentation"
                      >
                        <path
                          fill="currentcolor"
                          fill-rule="evenodd"
                          d="M14.995 10.995a1 1 0 0 1 0 1.414l-4.593 4.593a.99.99 0 0 1-1.4-1.4l3.9-3.9-3.9-3.9a.99.99 0 0 1 1.4-1.4z"
                        ></path></svg></span></span
                ></span>
              </button>
            </div>
          </nav>
        </div></div
    ></span>
  </main>
</div>
